<%= form_for(paint_job) do |f| %>

  <div class="form-group">
    <%= f.label :customer %>
    <!-- <%= f.text_field :paint_job_customer, required: true, class: "form-control",placeholder: "Customer" %> -->
    <!-- <%= f.select(:paint_job_customer, options_from_collection_for_select(Customer.all, :company_name, :company_name), {},required: true, class: "form-control", include_blank: true) %> -->

    <%= collection_select(:paint_job, :paint_job_customer, Customer.all, :company_name, :company_name, {prompt: true},  required: true, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, required: true, class: "form-control", placeholder: "Description / Job Reference" %>
  </div>

  <div class="form-group">
    <%= f.label :date_in %>
    <%= f.text_field :date_in, required: true, class: "form-control datepicker" %>
  </div>

  <div class="">
    <%= f.submit "submit", class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker(

{format: 'yyyy/MM/dd',
autoclose: true,
    todayHighlight: true}

    );
  });
</script>
