

<div class="panel panel-default">
    <header class="panel-heading">

<div class="row">
  <div class="col-sm-6">
    <h3>  NSP Paint Jobs </h3>
  </div>

  <div class="col-sm-6">
  <h3><%= link_to 'New Paint Job', new_paint_job_path, class: "btn btn-primary pull-right" %></h3>
  </div>

</div>


    </header>

    <div class="panel-body ">

        <table id="JobTable" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Date in</th>
              <th>Customer</th>
              <th>Job Reference</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @paint_jobs.reverse_each do |paint_job| %>
              <tr>
                <td><%= paint_job.date_in.strftime("%e %b %Y") %></td>

                <td><%= paint_job.paint_job_customer %></td>
                <td><%= link_to paint_job.description, paint_job, class: "underline" %></td>



                <td><%= link_to paint_job do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                </td>

                <td><%= link_to edit_paint_job_path(paint_job) do %>
                  <i class="glyphicon glyphicon-edit"></i> <span>Edit</span>
                  <% end %>
                </td>

                <td><%= link_to paint_job_path(paint_job), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="glyphicon glyphicon-trash"></i> <span>Delete</span>
                  <% end %>
                </td>


              </tr>
            <% end %>
          </tbody>
        </table>





    </div><!-- /.box-body -->
</div><!-- /.box -->


<!-- <%= link_to 'New Paint Job', new_paint_job_path %> -->
