
<%= form_for([@paint_job, @paint_job.measurements.build]) do |f| %>
<div class="col-md-3">
  <%= f.number_field :lenght, autofocus: true, required: true, step: 10, class: "form-control" %>
</div>
<div class="col-md-3">
  <%= f.number_field :width, required: true, step: 10, class: "form-control"  %>
</div>
<div class="col-md-3">
  <%= f.number_field :amount, class: "form-control"  %>
</div>



 	<%= f.submit "Add measurement", class: "btn btn-primary" %>
<% end %>
