
<%= form_for([@paint_job, @paint_job.measurements.build]) do |f| %>
<div class="col-md-3">
  <%= f.text_field :lenght, autofocus: true, class: "form-control" %>
</div>
<div class="col-md-3">
  <%= f.text_field :width, class: "form-control"  %>
</div>
<div class="col-md-3">
  <%= f.text_field :amount, class: "form-control"  %>
</div>



 	<%= f.submit "Add measurement", class: "btn btn-primary" %>
<% end %>
