<!DOCTYPE html>
<html>
  <head>
    <title>NspApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="skin-black">
          <!-- header logo: style can be found in header.less -->
          <header class="header">
            <%= link_to 'NORTHSIDE POLISHING', paint_jobs_path, class: "logo" %>
              <!-- <a href="#" class="logo">
                  NORTHSIDE POLISHING
              </a> -->
              <!-- Header Navbar: style can be found in header.less -->
              <nav class="navbar navbar-static-top" role="navigation">
                  <!-- Sidebar toggle button-->
                  <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <div class="navbar-right">
                      <ul class="nav navbar-nav">
                          <!-- Messages: style can be found in dropdown.less-->
                          <!-- User Account: style can be found in dropdown.less -->
                          <li class="dropdown user user-menu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="fa fa-user"></i>
                                  <span>Jane Doe <i class="caret"></i></span>
                              </a>
                              <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                  <li class="dropdown-header text-center">Account</li>



                                  <li class="divider"></li>

                                      <li>
                                          <a href="#">
                                          <i class="fa fa-user fa-fw pull-right"></i>
                                              Profile
                                          </a>
                                          <a data-toggle="modal" href="#modal-user-settings">
                                          <i class="fa fa-cog fa-fw pull-right"></i>
                                              Settings
                                          </a>
                                          </li>

                                          <li class="divider"></li>

                                          <li>
                                              <a href="#"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                      </nav>
                  </header>
                  <div class="wrapper row-offcanvas row-offcanvas-left">
                      <!-- Left side column. contains the logo and sidebar -->
                      <aside class="left-side sidebar-offcanvas">
                          <!-- sidebar: style can be found in sidebar.less -->
                          <section class="sidebar">
                              <!-- Sidebar user panel -->

                              <!-- search form -->
                              <!-- <form action="#" method="get" class="sidebar-form">
                                  <div class="input-group">
                                      <input type="text" name="q" class="form-control" placeholder="Search..."/>
                                      <span class="input-group-btn">
                                          <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                                      </span>
                                  </div>
                              </form> -->
                              <!-- /.search form -->
                              <!-- sidebar menu: : style can be found in sidebar.less -->
                              <ul class="sidebar-menu">
                                  <li class="active">

                                    <%= link_to paint_jobs_path do %>
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                    <% end %>



                                      <!-- <a href="#">
                                          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                      </a> -->
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-gavel"></i> <span>General</span>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="#">
                                          <i class="fa fa-globe"></i> <span>Basic Elements</span>
                                      </a>
                                  </li>

                                  <li>
                                      <a href="#">
                                          <i class="fa fa-glass"></i> <span>Simple tables</span>
                                      </a>
                                  </li>

                              </ul>
                          </section>
                          <!-- /.sidebar -->
                      </aside>

                      <aside class="right-side">

                  <!-- Main content -->
                  <section class="content">


                      <!-- Main row -->
                      <div class="row">

                        <div class="col-md-8">

                          <%= yield %>

                        </div>

                                      <div class="col-lg-4">

                                          <!--notifications-->
                                          <section class="panel">
                                              <header class="panel-heading">
                                                  Notifications
                                              </header>
                                                  <div class="panel-body" id="noti-box">

                                                      <%= render 'layouts/messages' %>
                                                  </div>
                                          </section>
                                      </div>


                     </div>


                <!-- row end -->
                  </section><!-- /.content -->
                  <div class="footer-main">
                      Copyright &copy NSP, 2016
                  </div>
              </aside><!-- /.right-side -->

          </div><!-- ./wrapper -->


          <!-- jQuery 2.0.2 -->
          <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
          <script src="js/jquery.min.js" type="text/javascript"></script> -->

          <!-- jQuery UI 1.10.3 -->
          <!-- <script src="js/jquery-ui-1.10.3.min.js" type="text/javascript"></script> -->
          <!-- Bootstrap -->
          <!-- <script src="js/bootstrap.min.js" type="text/javascript"></script> -->



          <!-- Director App -->
          <script src="javascripts/app.js" type="text/javascript"></script>

          <!-- Director dashboard demo (This is only for demo purposes) -->

          <!-- Director for demo purposes -->



  </body>






</html>
